
    .navBar {
        display: flex;
        width: 100%;
        background-color: #0C002A;
        justify-content: space-between;
    }
    .userSection {
        display: flex;
        padding: 1rem;
        margin-left: 6rem;
        align-items: center;
    }
    .userAvatar {
        margin-right: 2rem;
        display: flex;
    }
    .userAvatarImg {
        border: 2px solid #CACED3;
        cursor: pointer;
    }
    .userName {
        margin-left: 1rem;
        margin-top: .25rem;
        font-size: 1.2rem;
        font-weight: bold;
        color: #CACED3;
        cursor: pointer;
    }
    .userName > h2 {
        color: #CACED3;
    }
    .userTitle {
        color: #CACED3;
        padding-top: 5px;
        font-size: small;
    }
    .notificationsIcon {
        margin-left: 2rem;
        cursor: pointer;
    }
    .emailIcon {
        margin-left: 2rem;
        cursor: pointer;
    }
    .searchAndIcons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 1rem;
    }
    .search {
        display: flex;
        align-items: center;
        margin-right: 1rem;
    }
    .searchIcon {
        margin-right: .5rem;
        cursor: pointer;
    }
    .searchInput {
        border: 1px solid #CACED3;
        border-radius: 25px;
        padding-left: 10px;
        margin-right: 1rem;
    }
    .rightIcons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 1rem;
    }
    .addBox {
        margin-right: 1rem;
        cursor: pointer;
    }
    .peopleGroup {
        margin-right: 1rem;
        cursor: pointer;
    }
    .menu {
        margin-right: 1rem;
        cursor: pointer;
    }